/* variables de estilo */

:root {
    --deep-purple: #22031F;
    --neural-moss: #1A2008;
    --nebula-veil: #CA709D;
    --cyber-bloom: #FFC9D7;
    --acid-halo: #FCFFB6;
    --dark-green: #0C1001;
    --white: #FFFFFF;
}

body {
    background-color: white;
    font-family: Satoshi;
    margin: 0;
    padding: 0;
}

h1 {
    /* DS - Mobile/H3 */
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 115%;
    /* 36.8px */
    letter-spacing: -0.64px;
}

h2 {
    /* DS - Mobile/H2 */
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 45px;
    /* 112.5% */
    letter-spacing: -0.8px;
}

h3 {
    /* DS - Mobile/H3 */
    font-family: Satoshi;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 115%;
    /* 36.8px */
    letter-spacing: -0.64px;
}

h4 {
    /* DS - Mobile/H4 */
    font-family: Satoshi;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    /* 116.667% */
    letter-spacing: -0.48px;
}

p {
    /* DS - Mobile/Body Heavy */
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    /* 137.5% */
    letter-spacing: -0.32px;
}

a {
    /* DS - Mobile/Body Heavy */
    font-family: Satoshi;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    /* 137.5% */
    letter-spacing: -0.32px;
    color: white;
    text-decoration: none;
}

.link {
    color: var(--White, var(--Base-White, #FFF));
}

.navbar-toggler {
    display: flex;
    padding: 10px 21px;
    align-items: center;
    gap: 8px;
    /* From https://css.glass */
    background: rgba(34, 3, 31, 0.22);
    border-radius: 45px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.6px);
    -webkit-backdrop-filter: blur(4.6px);
    border: 1px solid rgba(34, 3, 31, 0.21);
}

.navbar-nav {
    display: flex;
    padding: 10px 21px;
    align-items: left;
    gap: 8px;
    /* From https://css.glass */
    background: white;
    border-radius: 35px;
}

.nav-item{
    color: #22031F;
    font-size: 25px;
    text-transform: uppercase;
    text-align: left;
}

.hero {
    display: flex;
    width: 100%;
    height: 100vh;
    padding: 30px 30px 50px 30px;
    flex-direction: column;
    align-items: center;
    gap: 350px;
    background-image: url(../Assets/Images/Hero\ image.png);
    background-size: cover;
}

.hero-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
    align-self: stretch;
    color: white;
}

.hero-div {
    width: 50%;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}

.logo-hero {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    aspect-ratio: 342.00/132.60;
    margin-bottom: 20px;
}

.logo-hero-image {
    width: 100%;
}

.menu-button {
    display: flex;
    padding: 14px 21px;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    background: linear-gradient(rgba(23, 23, 23, 0.15), rgba(34, 3, 31, 0.25)), rgba(202, 112, 157, 0.25);
    background-blend-mode: plus-lighter, normal;
    box-shadow: 3px 3px 0.5px -3.5px #FFF inset, 3px 3px 2px -4px #262626 inset, 2px 2px 0.5px -2px rgba(255, 255, 255, 0.38) inset, -2px -2px 0.5px -2px rgba(255, 255, 255, 0.23), 0 0 1px 1.5px rgba(0, 0, 0, 0.23) inset, 0 0 8px 0 rgba(0, 0, 0, 0.1), 0 1px 8px 0 rgba(0, 0, 0, 0.1) 0 1px;
    backdrop-filter: blur(6px);
}

.navbar-toggler-icon {
    filter: invert(1) grayscale(100%) brightness(200%);
}

.button {
    display: flex;
    padding: 10px 21px;
    align-items: center;
    gap: 8px;
    /* From https://css.glass */
    background: rgba(34, 3, 31, 0.22);
    border-radius: 45px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.6px);
    -webkit-backdrop-filter: blur(4.6px);
    border: 1px solid rgba(34, 3, 31, 0.21);
}